@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hover-card {
  --opacity: 0;
  --bg-y: 0%;
  --bg-x: 0%;
  --radius: 16px;
  --duration: 500ms;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) var(--duration);
}

.hover-card-layer {
  z-index: -1;
  mix-blend-mode: color-dodge;
  opacity: var(--opacity);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) var(--duration);
  transition-property: opacity;
  clip-path: inset(0 0 1px 0 round var(--radius));
  --foil-svg: url('data:image/svg+xml,<svg width="1368" height="1132" viewBox="0 0 1368 1132" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_186_39)"><rect width="1368" height="1132" fill="black"/><ellipse cx="238.5" cy="153.131" rx="116.5" ry="121.123" fill="white"/><ellipse cx="535.5" cy="153.131" rx="116.5" ry="121.123" fill="white"/><ellipse cx="832.5" cy="153.131" rx="116.5" ry="121.123" fill="white"/><ellipse cx="1129.5" cy="153.131" rx="116.5" ry="121.123" fill="white"/><ellipse cx="238.5" cy="428.377" rx="116.5" ry="121.123" fill="white"/><ellipse cx="535.5" cy="428.377" rx="116.5" ry="121.123" fill="white"/><ellipse cx="832.5" cy="428.377" rx="116.5" ry="121.123" fill="white"/><ellipse cx="1129.5" cy="428.377" rx="116.5" ry="121.123" fill="white"/><ellipse cx="238.5" cy="703.623" rx="116.5" ry="121.123" fill="white"/><ellipse cx="535.5" cy="703.623" rx="116.5" ry="121.123" fill="white"/><ellipse cx="832.5" cy="703.623" rx="116.5" ry="121.123" fill="white"/><ellipse cx="1129.5" cy="703.623" rx="116.5" ry="121.123" fill="white"/><ellipse cx="238.5" cy="978.869" rx="116.5" ry="121.123" fill="white"/><ellipse cx="535.5" cy="978.869" rx="116.5" ry="121.123" fill="white"/><ellipse cx="832.5" cy="978.869" rx="116.5" ry="121.123" fill="white"/><ellipse cx="1129.5" cy="978.869" rx="116.5" ry="121.123" fill="white"/></g><defs><clipPath id="clip0_186_39"><rect width="1368" height="1132" fill="white"/></clipPath></defs></svg>');
  --step: 5%;
  --foil-size: 50%;
  --pattern: var(--foil-svg) center/100% no-repeat;
  --rainbow: repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--step) * 1),
      rgba(255, 237, 95, 1) calc(var(--step) * 2),
      rgba(168, 255, 95, 1) calc(var(--step) * 3),
      rgba(131, 255, 247, 1) calc(var(--step) * 4),
      rgba(120, 148, 255, 1) calc(var(--step) * 5),
      rgb(216, 117, 255) calc(var(--step) * 6),
      rgb(255, 119, 115) calc(var(--step) * 7)
    )
    0% var(--bg-y) / 200% 700% no-repeat;
  --diagonal: repeating-linear-gradient(
      128deg,
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 10%, 60%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    )
    var(--bg-x) var(--bg-y) / 300% no-repeat;
  --shade: radial-gradient(
      farthest-corner circle at var(--m-x) var(--m-y),
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.15) 20%,
      rgba(255, 255, 255, 0.25) 120%
    )
    var(--bg-x) var(--bg-y) / 300% no-repeat;
  background-blend-mode: hue, hue, hue, overlay;
  background: var(--pattern), var(--rainbow), var(--diagonal), var(--shade);
}

.hover-card-layer::after {
  content: "";
  position: absolute;
  inset: 0;
  grid-area: inherit;
  background-image: inherit;
  background-repeat: inherit;
  background-attachment: inherit;
  background-origin: inherit;
  background-clip: inherit;
  background-color: inherit;
  mix-blend-mode: exclusion;
  background-size: var(--foil-size), 200% 400%, 800%, 200%;
  background-position: center, 0% var(--bg-y),
    calc(var(--bg-x) * -1) calc(var(--bg-y) * -1), var(--bg-x) var(--bg-y);
  background-blend-mode: soft-light, hue, hard-light;
}

pre code {
  background-color: transparent !important;
}
